@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-template-areas{
    grid-template-areas:
    "sidenav content"
    "now-playing now-playing"
}
.main .content{
    grid-area:content;

}
.main .sidenav{
    grid-area: sidenav;

}
.main .now-playing{
    grid-area: now-playing;

}

.track:hover .track-no,.track.selected .track-no {
    visibility: hidden;
}
.track:hover .play,.track.selected .play{
    visibility: visible;
}
